# Environnement virtuel
.venv/
venv/
venv*

# Cache Python
__pycache__/
*.pyc
*.pyos
*.pyd

# Git
.git/

# Environnement
.env

# Notebooks
.ipynb_checkpoints/

# Fichiers lourds inutiles dans github

*.csv



# Logs
*.log

# VS Code
.vscode/
pytest
.coverage

#mlflow
*.db