# Environnement virtuel
.venv/
venv/
venv*

# Cache Python
__pycache__/
*.pyc
*.pyos
*.pyd

# Git
.git/

# Environnement
.env

# Notebooks
.ipynb_checkpoints/
*.ipynb

# Fichiers lourds inutiles dans git 

*.csv
# Fichiers lourds inutiles dans github
*.pkl
*.pkl

!api/models/best_random_forest.pkl


# Logs
*.log

# VS Code
.vscode/
pytest
.coverage

#mlflow
*.db